workflows/[UDIA] SubWF Nodos de extracción de datos con IA.json
{
  "active": false,
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accedo al producto": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Accedo al producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-09T17:33:48.754Z",
  "id": "DjJSDqZ589j41N25",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] SubWF Nodos de extracción de datos con IA",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        160
      ],
      "id": "3e734503-2c2b-479d-a2db-85a45fab054c",
      "name": "Workflow Input Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://mascotalandia.es/26--natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "5d94b812-03b9-4f94-9657-a9db126692c8",
      "name": "Test sin headers"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"en-US,en;q=0.5\",\n  \"Connection\": \"keep-alive\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        160
      ],
      "id": "36cf6ab2-7809-499a-a9b4-3115ec81ce0f",
      "name": "Accedo al producto"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "nombre",
              "cssSelector": ".product_name"
            },
            {
              "key": "marca",
              "cssSelector": ".brand_centercolumn"
            },
            {
              "key": "descripcion_corta",
              "cssSelector": ".product-description"
            },
            {
              "key": "descripcion_larga",
              "cssSelector": ".info_content"
            },
            {
              "key": "pvp",
              "cssSelector": ".price_pvp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        260,
        0
      ],
      "id": "984f4107-f165-4ccf-9624-92f6ada47509",
      "name": "Datos"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"loc\": \n\"https://mascotalandia.es/26--natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.html\",\n\"image:image\": \n{\n\"image:loc\": \n\"https://mascotalandia.es/38-large_default/natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.jpg\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        160
      ],
      "id": "d6a4c8e4-49ad-4410-84f4-29951442f837",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "text": "=Extrae toda la información del producto que te envío en html.\nTu debes devolver nombre, marca, descripción corta, descripción larga y precio\n\n {{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "nombre",
              "description": "nombre del producto",
              "required": true
            },
            {
              "name": "descripcion_corta",
              "description": "descripcion corta del producto",
              "required": true
            },
            {
              "name": "descripcion_larga",
              "description": "descripcion larga del producto",
              "required": true
            },
            {
              "name": "precio",
              "description": "precio del producto"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Eres un experto extrayendo información de productos de códigos html."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "id": "3642bf92-8cd7-45b1-b916-54b95b4c88db",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        320
      ],
      "id": "81f2e449-9e33-4247-9542-5d9027d42cbb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ze5CxQRgjvPzvWRt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-09T18:34:31.000Z",
  "versionId": "170e5c35-089d-4601-9251-ab42bbdd3d7b"
}