workflows/[UDIA] IF y Switch.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-08T10:13:55.104Z",
  "id": "msYEdVdpFppKVlvB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] IF y Switch",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -120
      ],
      "id": "1aad8334-0df0-49a9-94e7-f7f32d637c9e",
      "name": "When chat message received",
      "webhookId": "bf35e5eb-251e-4803-a93c-0f9189ee0831"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af5bcfc0-6851-4013-96dd-76a63034ddc2",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Hd",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        -260
      ],
      "id": "11fcd0f7-8408-4688-9d39-adbfea735752",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saludo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb3bc1e2-f072-46bd-aa8a-f2bd9723ebc4",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Adios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Despedida"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        140,
        -60
      ],
      "id": "3dcfa95f-1dbf-483f-808c-2b5313b302f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "442145169",
        "text": "¡Hola como estás!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        -180
      ],
      "id": "621f7314-0ffa-42ba-9ad2-9a901c6170f0",
      "name": "Telegram",
      "webhookId": "7797cad6-9678-42c4-a873-ced82ca082d1",
      "credentials": {
        "telegramApi": {
          "id": "6ybQlYC8zJyixQBM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "442145169",
        "text": "¡Hasta luego!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        -20
      ],
      "id": "6484a5ca-befc-40a2-ad9b-029ca56603c6",
      "name": "Telegram1",
      "webhookId": "7797cad6-9678-42c4-a873-ced82ca082d1",
      "credentials": {
        "telegramApi": {
          "id": "6ybQlYC8zJyixQBM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-08T10:20:35.000Z",
  "versionId": "8cfad868-7736-412d-a753-c8c328075059"
}