workflows/[UDIA] Chatbot de voz con ElevenLabs.json
{
  "active": true,
  "connections": {
    "Listen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-09T19:07:09.235Z",
  "id": "tUWvbhsqXYTEF1sg",
  "meta": {
    "templateId": "2846",
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Chatbot de voz con ElevenLabs",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pregunta }}",
        "options": {}
      },
      "id": "5898da57-38b0-4d29-af25-fe029cda7c4a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        920,
        640
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a148ffcf-335f-455d-8509-d98c711ed740",
      "name": "Respond to ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1340,
        640
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5d19f73a-b8e8-4e75-8f67-836180597572",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        800,
        880
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "g9AdIjo3F9LDXbUe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "802b76e1-3f3e-490c-9e3b-65dc5b28d906",
      "name": "Listen",
      "type": "n8n-nodes-base.webhook",
      "position": [
        620,
        640
      ],
      "webhookId": "e9f611eb-a8dd-4520-8d24-9f36deaca528",
      "typeVersion": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen').item.json.headers['x-forwarded-host'] }}"
      },
      "id": "bdc55a38-1d4b-48fe-bbd8-29bf1afd954a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        960,
        880
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "84aca7bb-4812-498f-b319-88831e4ca412",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1120,
        1000
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "g9AdIjo3F9LDXbUe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "udia_informacion",
        "toolDescription": "Contienes información sobre lo que ofrece UDIA",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1140,
        840
      ],
      "id": "75e30caf-4d10-49b7-90b7-b9f009fa9818",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "9GgjUgHp9iDjJ09l",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-09T19:29:15.000Z",
  "versionId": "558e0675-3fbf-4cf8-8f87-9246d4ae7771"
}