workflows/[UDIA] RAG: Chatbot Whatsapp.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-09T16:44:37.949Z",
  "id": "GuLoWjMMI9bQINSJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] RAG: Chatbot Whatsapp",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres un agente super amable que ayuda a las personas que buscan formación sobre inteligencia artificial y automatizaciones en UDIA.\n\nEn la herramienta informacion_udia tienes toda la información sobre UDIA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ],
      "id": "4d74f8ba-47be-4726-885d-66a7d7298fcc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-2024-07-18"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        180
      ],
      "id": "732a0c14-ed4d-49fd-97c3-00fae5731f83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g9AdIjo3F9LDXbUe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        180
      ],
      "id": "005a245d-101b-48df-af41-627c59a3117b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "informacion_udia",
        "toolDescription": "Trabaja con tu pinecone vector store donde tienes toda la información sobre UDIA.es y lo que hacen.",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {
          "pineconeNamespace": "udia_rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        640,
        180
      ],
      "id": "6d5b6769-189e-42f5-9c5d-06b56b84cac9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9GgjUgHp9iDjJ09l",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        320
      ],
      "id": "88aa5824-4da9-46b4-95d9-e39a86ae097e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "g9AdIjo3F9LDXbUe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ],
      "id": "8e86589e-1ee2-49b7-9d36-e8c8c77abfa1",
      "name": "WhatsApp Trigger",
      "webhookId": "bf72f455-8ec3-4f78-9fac-0853baaf35bf",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "jQr1CQQwlo4q0X45",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/520651321139037/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <aqui tu access token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        0
      ],
      "id": "eafafd7e-ebb3-48ee-8775-1ba6fc0bc07c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      messaging_product: \"whatsapp\",\n      to: $('WhatsApp Trigger').item.json.contacts[0].wa_id,\n      type: \"text\",\n      text: {\n        body: items[0].json.output.replace(/\\\\n/g, \"\\n\")\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "1df93c58-0294-4ee2-9c71-41ef0adae67e",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51c90919-c922-437b-97f8-ea5c8bae1542",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "d917b1fa-e6c9-4a42-8742-af1353fbcfc1",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-02-09T17:17:00.000Z",
  "versionId": "be61cc70-cb82-400c-ba8c-4e183a05d1da"
}