workflows/[UDIA] Transformación de datos.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Add To Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract part of time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format a date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Substract date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImage": {
      "main": [
        [
          {
            "node": "Image Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-08T10:36:52.593Z",
  "id": "0tUfeSs1TyfsFzAh",
  "meta": null,
  "name": "[UDIA] Transformación de datos",
  "nodes": [
    {
      "parameters": {},
      "id": "18da57ae-e969-42a5-b18e-753bcb904fa7",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "cea797c4-4515-447e-9851-90dee3ca36e1",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -500,
        700
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "weeks",
        "duration": 10,
        "options": {}
      },
      "id": "9080f550-a71b-4bb3-a097-685daccf81f2",
      "name": "Add To Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.isoDate }}",
        "part": "hour",
        "outputFieldName": "year",
        "options": {
          "includeInputFields": false
        }
      },
      "id": "4cf009ca-e6f3-44da-9489-117b85ac6fd8",
      "name": "Extract part of time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.isoDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "options": {}
      },
      "id": "b57d22e7-4ce5-42d7-a9da-8760de7ac820",
      "name": "Format a date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "years",
        "duration": 20,
        "options": {}
      },
      "id": "eac9796a-dedd-4260-a46d-886b3b85a06c",
      "name": "Substract date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "308bc1e5-5b7b-497b-8feb-8bcca5cf7c8f",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jorge",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7f86a797-b8b3-4bbe-a1c7-9a0f183757b6",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        0,
        700
      ]
    },
    {
      "parameters": {
        "maxItems": 5,
        "keep": "lastItems"
      },
      "id": "1ad82cbe-c6d1-4134-9019-4aeaf2179580",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        880
      ]
    },
    {
      "parameters": {
        "compare": "allFieldsExcept",
        "fieldsToExclude": "creator",
        "options": {}
      },
      "id": "e9096bff-5b5c-4611-b867-3c033af8f819",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        0,
        1040
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "link",
        "options": {}
      },
      "id": "1606d8e5-88da-4f44-985c-b2e2fece237a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        1180
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link",
              "renameField": true,
              "outputFieldName": "enlace"
            }
          ]
        },
        "options": {}
      },
      "id": "b95ce72b-f41b-49e9-be5e-0634d8e77b82",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        180,
        1180
      ]
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/negocios/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "522123c9-4e3e-4624-b1a1-664aefbda8dc",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -480,
        1340
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "creator"
            }
          ]
        },
        "options": {}
      },
      "id": "719907d2-a0cf-444e-9271-fdfcf5c1145c",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        0,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "32f10116-8361-4606-b441-0df4186f66f3",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        0,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "fileName": "=data_rss_{{ $runIndex }}.zip",
        "binaryPropertyOutput": "rss"
      },
      "id": "0b395cc8-eb4d-487b-aa8a-9dfaf763a1cd",
      "name": "Compression",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        180,
        1680
      ]
    },
    {
      "parameters": {
        "binaryData": true
      },
      "id": "95155e3d-34da-4792-838b-d8d4fd6bac0d",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        180,
        1840
      ]
    },
    {
      "parameters": {
        "url": "https://wallpapers.com/images/high/waving-logo-of-windows-95-om3nphkrq635dc8u.webp",
        "options": {}
      },
      "id": "b435c6e3-9ecf-4eb8-be7b-5b1eac5a1eab",
      "name": "GetImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        1660
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "height": 300,
        "resizeOption": "ignoreAspectRatio",
        "options": {
          "fileName": "",
          "format": "png",
          "quality": 100
        }
      },
      "id": "d04e8b88-dd90-4cd0-8b20-8d55f418f151",
      "name": "Image Format",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -300,
        1660
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "text": "VALENTIN AYESA PARA UDIA",
        "fontSize": 35,
        "fontColor": "#EF0F0F",
        "options": {}
      },
      "id": "a68f6a22-4f3d-4d72-b1ed-ac6146303293",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -260,
        1820
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "creator",
              "newKey": "medio"
            },
            {
              "currentKey": "title",
              "newKey": "titulo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "f288370f-ac3a-4028-a5a4-fc576fddbc8a",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        200,
        1360
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            },
            {
              "fieldName": "medio"
            }
          ]
        },
        "options": {}
      },
      "id": "70088e3a-a646-4155-9a4a-d6d0e6c1e6b7",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        420,
        1360
      ]
    },
    {
      "parameters": {},
      "id": "9dbc0c67-a3e5-43f3-8773-02e6f08a40a5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        0,
        1360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-08T10:54:24.000Z",
  "versionId": "62f34150-2323-4686-97ff-bd3bc2c86eb3"
}